.anvil-view {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    gap: 4px;
    overflow: hidden;
}

.anvil-view__content {
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
    gap: 4px;
}

.anvil-view__title {
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-weight: var(--font-bold);
    font-size: 40px;
    flex-shrink: 0;
    margin: 0;
}

.anvil-view__desc-wrapper {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    scrollbar-width: none;
}

.anvil-view__desc-wrapper::-webkit-scrollbar {
    width: 0px;
}

.anvil-view__desc-wrapper:hover {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
}

.anvil-view__desc-wrapper:hover::-webkit-scrollbar {
    width: 8px;
}

.anvil-view__desc-wrapper:hover::-webkit-scrollbar-track {
    background: transparent;
}

.anvil-view__desc-wrapper:hover::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 6px;
}

.anvil-view__desc-wrapper::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
}

.anvil-view__desc {
    color: var(--text-secondary);
    font-family: var(--font-primary);
    font-size: 28px;
    line-height: 1.5;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
    margin: 0;
}

.anvil-view__hex-grid {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}

.anvil-actions {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}

.anvil-actions button {
    flex: 1;
}

.anvil-btn-forge {
    padding: 14px;
    background: var(--accent-orange);
    border: 2px solid var(--accent-orange);
    color: var(--text-dark);
    font-family: var(--font-primary);
    font-size: 25px;
    font-weight: var(--font-semibold);
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.15s ease;
}

.anvil-btn-forge:hover {
    filter: brightness(0.9);
}

.anvil-btn-forge:active {
    transform: scale(0.97);
    filter: brightness(0.8);
}


.anvil-btn-delete {
    padding: 14px;
    background: transparent;
    border: 2px solid var(--accent-orange);
    color: var(--accent-orange);
    font-family: var(--font-primary);
    font-size: 25px;
    font-weight: var(--font-semibold);
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.15s ease;
}

.anvil-btn-delete:hover {
    background: var(--accent-orange);
    color: var(--text-dark);
}

.anvil-btn-delete:active {
    transform: scale(0.97);
    filter: brightness(0.85);
}
