.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh;

    box-sizing: border-box;

    background: var(--bg-main);

    padding: 20px;
    padding-top: 3%;
    padding-bottom: 3%;
    gap: 20px;
}

.col {
    background: var(--bg-surface);

    min-width: 0;
    overflow: hidden;
    padding: 15px;

}
