.Shelf{
    background-size: 480px;
    width: 480px;
    height: 830px;
    background-image: url("../Assets/shellf.png");
    background-position: center;
    display: grid;
    grid-template-columns: 90px 300px 90px;
}
.ButtonDiv{
    margin-top: 85%;
    margin-bottom: 75%;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
}
.ButtonArea{
 height: 200px;
 display: grid;
 grid-template-rows: auto;
 align-items: center;
}
.BA-left{
    margin-left: 25px;
}
.BA-right{
    margin-right: 23px;
    margin-left: 3px;
    height: 100px;
}
.Button {
    background-color: rgb(111, 118, 125, 0.2); 
  color: #1a1a1a;
  border: solid;
  border-radius: 2px;
  border-width: 5px;
  border-color: rgb(0, 0, 0, 0.6);
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.B-plus{
    height: 100px;
    margin: 5px;
}
.B-up{
    height: 45px;
    margin-bottom: 2.5px;
    margin-left: 5px;
    margin-right: 5px;
}
.B-down{
    height: 45px;
    margin-top: 2.5px;
    margin-left: 5px;
    margin-right: 5px;
}

.Button:hover {
  background-color: #8A929A;
}

.Button:active {
  background-color: #6F767D;
}
.IdeasShelf {
    margin-top: 27%;
    margin-bottom: 23%;
    margin-left: 1%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: auto;
}

.Idea{
    width:50px;
    height:50px;
    background-color: rgb(247, 148, 30);
    text-align: center;
    border-radius: 10px;
    border-color: rgb(210, 110, 0);
    border-width: 5px;
    border-style: solid;
}


.shelf-1, .shelf-2, .shelf-3, .shelf-4 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  gap: 3px;
  padding: 5px 5px 0px 5px;
  height: 135px;
  min-height: 120px;
  position: relative;
  margin-left: 5px;
}

.shelf-1 {
  top: 6px;
}

.shelf-2 {
  top: 7px;
}

.shelf-3 {
  top: 8px;
}

.shelf-4 {
  top: 4px;
}

.idea-square {
  width: calc(22%);
  height: calc(50% - 5.0px);
  border: 3px solid;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;
}
.idea-square:hover {
  transform: scale(1.05);
}
