:root {
  --bg-main: #1a1a1a;
  --bg-surface: #22303C;
  --border: #415A77;

  --accent-orange: #FF6A00;
  --accent-cyan: #00D2C3;

  --text-primary: #E6D5B8;
  --text-secondary: #8A9BB0;

    --font-primary: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;

    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
}
